.uploaderDrag {
/* 	position: absolute; */
	top: 20%;
	left: 20%;
	right: 20%;
	bottom: 20%;
	border: 3px dashed #bfbfbf;
	border-radius: 2px;
	background: #f0f0f0;
}

.uploaderIcon {
	background-image: url(cloud_gray.png);
	background-repeat: no-repeat;
	background-size: 176px 120px;
	width: 176px;
	height: 120px;
	z-index: 1;
}

.uploaderIconLoading {
	top: -106px;
	overflow: hidden;
	background-image: url(cloud.png);
	background-repeat: no-repeat;
	background-size: 176px 120px;
	background-position: 0 bottom;
	position: absolute;
	bottom: 0;
	width: 176px;
	height: 0;
	z-index: 2;
	transition: height .7s ease;
	-webkit-transition: height .7s ease;
	-moz-transition: height .7s ease;
	-o-transition: height .7s ease;
	-ms-transition: height .7s ease;
}

.uploaderWrap {
/* 	position: absolute; */
	margin: auto;
	top: 0;
	left: 0;
	bottom: -10px;
	right: 0;
	width: 176px;
	height: 100px;
}

.uploaderTitle {
	position: relative;
	top: 30px;
	text-align: center;
	color: #727272;
	font-size: 20px;
	margin-bottom: 50px;
}

.uploaderTitle strong{
	display: block;
}

.uploaderInput {
	visibility: hidden;
}
.uploaderImage img {
max-width: 100%;
max-height: 100%;
text-align: center;
vertical-align: middle;
position: relative;
}